@import "@/configs/root.scss";

.vidget {
  user-select: none;
  background: $dictionarybg;
  color: #fff;
  max-width: 100%;
  padding: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: .3s ease-in-out;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &:active {
    background: $dictionarybgactive;
  }
}
a {
  color: #fff;
}