table {
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 50px;
  padding: 10px 20px;
  border-spacing: none !important;
  font-family: 'Montserrat', "Helvetica";
  @media (max-width: 814px) {
    max-width: 671px;
  }
  @media (max-width: 431px) {
    padding: 0;
  }
  caption {
    font-size: 48px;
    padding-bottom: 20px;
    @media (max-width: 914px) {
      font-size: 32px;
    }
  }
  tr {
    text-align: center;
  }
  th {
    font-size: 24px;
    @media (max-width: 914px) {
      font-size: 16px;
    }
    @media (max-width: 814px) and (min-width: 471px) {
      font-size: 24px;
    }
  }
}

.dictionary {
  width: 100%;
  &__header {
    th {
      padding: 10px 80px;
      @media (max-width: 571px) {
        padding: 10px 30px;
      }
      @media (max-width: 431px) {
        padding: 10px;
      }
    }
  }
  &__transcription {
    @media (max-width: 814px) {
      display: none;
    }
  }
  &__add-transcription {
    font-size: 12px;
    cursor: pointer;
  }
  &__item {
    td {
      padding: 10px 0;
      &:first-child {
        cursor: pointer;
      }
      input {
        width: 250px;
        height: 30px;
        padding-left: 5px;
        font-size: 18px;
        border-radius: 0px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.Control {
  width: 48px;
  height: 48px;
  font-size: 32px;
}

.Page {
  font-size: 18px;
}

.PaginationControl {
  display: none;
}

body[data-theme="light"] {
  @import "./DictionaryLight.scss";
}

body[data-theme="dark"] {
  @import "./DictionaryDark.scss";
}