{
  "root": true,
  "env": {
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vue/vue3-essential",
    "@vue/prettier",
    "@vue/prettier/@typescript-eslint",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
  },
  "rules": {
    "no-unused-vars": "off",
    "prefer-const": "warn",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/class-name-casing": "warn",
    "@typescript-eslint/ban-ts-ignore": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "vue/experimental-script-setup-vars": "off",
    "vue/script-setup-uses-vars": "off",
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/*.{j,t}s?(x)",
        "**/tests/unit/**/*.spec.{j,t}s?(x)",
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
