@import "@/configs/vars.scss";

.account {
  &__left {
    background: #C8C6C6;
    &-words {
    }
    &-item {
      color: #F7F6F2;
      &-wrapper {
        border-bottom-color: rgba(0, 0, 0, 0.2);
      }
    }
    &-profile {
      // box-shadow: 0 0 30px 0 #dddddd;
    }
  }
}