@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  top: 0 !important;
}

:root {
  --sizeAnim: 0;
}

.skiptranslate {
  display: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

ul {
  list-style: none;
}

input, button, textarea, select {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  user-select: none;
}


// body.popup__open {
  // overflow: hidden;
  // margin-bottom: 20px;
  // position: fixed;
  // width: 100%;
// }

// .popup__open {
  // overflow: auto;
  // display: block;
// }

.profile {
  &__run {
    min-width: 100px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 16px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: $defaultbtn;
    &:hover {
      background-color: $defaultbtnhover;
    }
    &:active {
      background-color: $defaultbtnactive;
      // box-shadow: 0 0 0 4px $defaultoutlinebtn;
      box-shadow: 0 4px 4px 0 $defaultoutlinebtn;
    }
  }
}

.modal {
  &-button__run {
    background-color: $dbluebtn !important;
    &:active {
      background-color: $dbluebtnact !important;
      box-shadow: 0 4px 0 0 $blueoutline;
    }
  }
}

.btn-add {
  padding: 12px 50px;
  font-size: 18px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 18px;
    background-color: #fff;
  }
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 18px;
    background-color: #fff;
    transform: rotate(90deg);
  }
}

.root {
  &-link {
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Helvetica";
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.5s;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.input-light {
  // padding: 10px 15px;
  border: 2px solid transparent;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
  &:focus {
    // box-shadow: 0 0 30px 0 #dddddd;
    border-bottom: 2px solid $dbluebtn;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.clip-anim {
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #222831;
    transition: 0.3s ease-in-out;
    clip-path: circle(var(--sizeAnim) at top center);
  }
  &:hover {
    &::before {
      --sizeAnim: 450px;
    }
    color: #fff;
  }
}

.input-focus {
  outline: 2px solid transparent;
  &:focus {
    outline: 2px solid $dbluebtnact;
  }
}

body[data-theme="dark"] {
  background-color: $darkbg;
  color: #fff;
}

body[data-theme="light"] {
  background-color: #e3e7eb;
}

button:disabled {
  opacity: .5;
  cursor: wait;
}

progress {
  background-color: rgb(53, 53, 53);
  border-radius: 9px;
  height: 40px;
  width: 250px;
}

progress::-webkit-progress-bar {
  background-color: rgb(53, 53, 53);
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: $greenbtnact;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}