$defaultbtn: #f05454;
$defaultbtnhover: #a94949;
$defaultbtnactive: #a33b3b;
$defaultoutlinebtn: #6d2929;
$dbluebtn: #30475e;
$dbluebtnact: #4a6c8d;
$blueoutline: #2c4661;
$greenbtn: linear-gradient(#00af91, #007965);
$greenbtnact: linear-gradient(#015f4f, #00493d);
$darkbg: rgb(53, 53, 53);
$lightbg: rgb(230, 230, 230);
$dictionarybg: rgba(58, 58, 58, 0.26);
$dictionarybgactive: rgb(58, 58, 58);

$rgbatype: rgba($color: #000000, $alpha: 0.3);