$menu: 724px;

* {
  margin: 0;
  padding: 0;
}
.header {
  height: 60px;
  width: 100%;
  position: sticky;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    height: 100%;
    @media (max-width: 674px) {
      justify-content: space-between;
    }
  }
  &__left {
    h1 {
      font-family: "Verdana";
      font-weight: normal;
      @media (max-width: 1091px) {
        font-size: 24px;
      }
      @media (max-width: 971px) {
        font-size: 18px;
      }
      @media (max-width: 574px) {
        margin-left: 20px;
      }
      @media (max-width: 337px) {
        margin-left: 20px;
      }
    }
  }
  &__right {
    display: flex;
    @media (max-width: $menu) {
      display: none;
    }
  }
  &-link {
    padding-bottom: 5px;
    margin-left: 40px;
    letter-spacing: 1px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-family: "Verdana";
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background: #000;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.5s;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
    @media (max-width: 881px) {
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

.menu {
  display: none;
  position: fixed;
  right: -300px;
  top: 61px;
  transition: .5s ease-in-out;
  @media (max-width: $menu) {
    display: block;
  }
  &__content {
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-link {
    color: #dddddd;
    margin-top: 10px;
    margin-right: 10px;
    &::after {
      content: "";
      background: #fff;
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
  &__panel {
    display: none;
    @media (max-width: $menu) {
      display: block;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  &__active {
    right: 0px;
  }
}
