.account {
  color: #fff;
}

.list {
  &__info {
    box-shadow: 0 0 10px 0 #4f4e4e;
    background-color: #4f4c4c;
  }
  &__item {
    &-edit {
      border-bottom-color: #fff;
    }
  }
  &__title {
    border-bottom-color: #fff;
  }
}

.profile {
  box-shadow: none;
  background-color: rgb(94, 94, 94);
}

.Page {
  background-color: rgb(37, 37, 37) !important;
  color: #fff;
}