.make-words {
    &__wrapper {
        padding: 20px;
        font-family: "Helvetica";
        input {
            font-size: 18px;
            padding: 10px;
            margin: 0 20px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 30px;
            border-radius: 3px;
            &:focus {
                border: 1px solid rgba(0, 0, 0, 0.1);
              }
              @media (max-width: 461px) {
                width: 200px;
                font-size: 16px;
            }
            &::placeholder {
                font-size: 14px;
            }
        }
    }
    &__button-speech {
        font-size: 24px !important;
        margin: 20px;
        font-weight: bold !important;
        @media (max-width: 491px) {
          font-size: 18px !important;
        }
    }
    &__areas {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: 801px) {
            flex-wrap: wrap;
        }
        textarea {
            padding: 10px;
            border: 2px solid #000;
            resize: none;
            width: 350px;
            height: 200px;
            font-size: 14px;
            @media (max-width: 801px) {
                width: 500px;
            }
            @media (max-width: 551px) {
                width: 350px;
            }
            @media (max-width: 421px) {
                width: 300px;
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px 0;
    }
    &__content {
        h2 {
            font-size: 24px;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}