@import "../../../configs/vars.scss";

.modal {
  &__fields {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
  &__input {
    margin: 0 20px;
    width: 200px;
    height: 30px;
    padding: 5px 10px;
  }
  &__left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 0;
  }
  &__btn {
    margin-left: 20px;
    &-image {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 12px 50px;
      img {
        margin-left: 10px;
      }
    }
  }
  &__errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    background-color: #c73636;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    &-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
    }
  }
  &__message {
    font-weight: bold;
  }
  &-btn-plus {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    background-color: $defaultbtn;
    border: none;
    transition: 0.05s;
    &:hover {
      background-color: $defaultbtnhover;
    }
    &:active {
      background-color: $defaultbtnactive;
      box-shadow: 0 0 0 2px $defaultoutlinebtn;
    }
  }
}

.btn-add {
  &::after {
    content: "";
    right: 20px;
    top: 20px;
    @media (max-width: 563px) {
      display: none;
    }
  }
  &::before {
    content: "";
    right: 20px;
    top: 20px;
    height: 1px;
    width: 18px;
    @media (max-width: 563px) {
      display: none;
    }
  }
}