.modal {
  &__fields {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
  &__input {
    margin: 0 20px;
    width: 200px;
    height: 30px;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  &__left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__btn {
    margin-left: 20px;
    &-image {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      padding: 12px 50px;
      img {
        margin-left: 10px;
      }
      // @media (max-width: 563px) {
      //   padding: 10px 30px;
      // }
      // @media (max-width: 491px) {
      //   font-size: 12px;
      //   padding: 10px 10px;
      // }
    }
  }
  &-button {
    &__save {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 20px;
        height: 1px;
        width: 18px;
        background-color: #fff;
        @media (max-width: 563px) {
          display: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 20px;
        height: 1px;
        width: 18px;
        background-color: #fff;
        transform: rotate(90deg);
        @media (max-width: 563px) {
          display: none;
        }
      }
    }
  }
  &__errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    background-color: #c73636;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    &-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
    }
  }
  &__message {
    font-weight: bold;
  }
}
