.modal {
  width: 800px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin: 50px;
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    max-width: 100%;
    min-height: 100%;
    font-family: "Helvetica";
    padding: 20px 0;
    position: relative;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    h2,
    button {
      margin: 0 20px;
    }
  }
  &__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    left: 0;
    button {
      margin: 0 10px;
    }
  }
  &__form {
    margin-bottom: 40px;
  }
  &__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &:last-child {
      border-bottom: none;
    }
  }
}

.modalWords-enter-active,
.modalWords-leave-active {
  transition: 0.4s;
}

.modalWords-enter-from,
.modalWords-leave-to {
  opacity: 0;
}
