@import "../../../configs/vars.scss";

.modal-scanner {
    &__title {
        @media (max-width: 581px) {
            display: none;
        }
    }
    &__buttons {
        &-panel {
            display: flex;
            justify-content: center;
            @media (max-width: 531px) {
                flex-wrap: wrap;
                gap: 10px 0;
            }
            button {
                margin: 0 20px;
                cursor: pointer;
                font-size: 16px;
                padding: 5px 10px;
                color: #fff;
                background: $greenbtn;
                border: 2px solid transparent;
                &:active {
                    background: linear-gradient(#01caa8, #00b395);
                }

                @media (max-width: 751px) {
                    font-size: 14px;
                    margin: 0 5px;
                }
                @media (max-width: 581px) {
                    font-size: 12px;
                    margin: 0 5px;
                }
            }
        }
        &-actions {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            button {
                @media (max-width: 581px) {
                    font-size: 12px;
                }
            }
        }
    }
    label {
        cursor: pointer;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    &__img {
        width: 300px;
        height: 320px;
        object-fit: contain;
        border: 2px solid #000;
        @media (max-width: 681px) {
            width: 200px;
            height: 200px;
        }
    }
    &__result {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 581px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__errors {
        font-weight: bold;
        font-size: 24px;
        color: $defaultbtn;
    }
    &__fields {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        @media (max-width: 951px) {
            flex-wrap: wrap;
        }
        textarea {
            margin-top: 10px;
            resize: none;
            padding: 10px;
            border: 1px solid rgba($color: #000000, $alpha: .4);
            width: 300px;
            height: 200px;
            @media (max-width: 1045px) {
                width: 250px;
                height: 150px;
            }
        }
    }
}