@import "../../account/scss/InputWords.scss";

.modal {
  width: 1170px;
  background-color: #fff;
  border-radius: 20px;
  margin: 50px;
  color: #000;
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: center;
  }
  &__content {
    max-width: 100%;
    min-height: 100%;
    font-family: "Helvetica";
    padding: 20px 0;
    position: relative;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    h2, button {
      margin: 0 20px;
      font-weight: normal;
    }
    input {
      padding: 10px;
      width: 300px;
      margin: 0 20px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      border-radius: 16px;
      font-size: 18px;
      letter-spacing: 1px;
      transition: .2s ease-in-out;
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      @media (max-width: 461px) {
        width: 200px;
        font-size: 16px;
      }
    }
    &-error {
      border: 2px solid #a33b3b !important;
      &::placeholder {
        color: #f05454;
      }
    }
  }
  &-btn-plus {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    margin-right: 20px;
    border-radius: 50% !important;
    font-size: 32px;
    padding: 0 !important; 
  }
  &__slide {
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 20px;
    }
  }
  &__sliders {
    overflow: hidden;
    max-width: 300px;
  }
  &__footer {
    padding-top: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    bottom: 20px;
    left: 0;
    background-color: #fff;
    button {
      margin: 0 10px;
    }
  }
  &__form {
    margin-bottom: 40px;
    @media (max-width: 491px) {
      margin-bottom: 120px;
    }
  }
  &__item {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    &:last-child {
      border-bottom: none;
    }
  }
  &__select {
    margin: 0 40px;
    padding: 0 20px;
    max-width: 300px;
    height: 35px;
    appearance: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: .2s ease-in-out;
    position: relative;
    &:hover {
      // background: rgba(0, 0, 0, 0.1);
    }
    option {
      position: absolute;
      left: 50px;
      top: 0;
      background: #000;
    }
  }
  &__errors {
    text-align: center;
    @media (max-width: 501px) {
      margin-bottom: 70px;
    }
  }
  &__save {
    @media (max-width: 563px) {
      padding: 10px 30px !important;
    }
    @media (max-width: 491px) {
      font-size: 12px !important;
      padding: 10px 10px !important;
    }
  }
}

.modalWords-enter-active,
.modalWords-leave-active {
  transition: 0.4s;
}

.modalWords-enter-from,
.modalWords-leave-to {
  opacity: 0;
}

.swiper-container {
  margin: 0;
}