.popup {
  max-width: 800px;
  min-height: 150px;
  &__content {
    padding: 20px;
    position: relative;
  }
  &__wrapper {
    background: rgba(0, 0, 0, 0.5);
    font-family: "Montserrat", "Helvetica";
  }
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__close {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    cursor: pointer;
  }
  &__info {
    text-align: center;
    margin-bottom: 20px;
    h2 {
      @media (max-width: 370px) {
        font-size: 24px;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  &__logout-text {
    text-align: center;
    margin: 40px 0;
    font-weight: normal;
  }
}