@import "@/configs/vars.scss";

.folder {
  &__wrapper {
    background: $darkbg;
  }
  &-page {
    &__header {
      &-delete {
        color: $defaultbtn;
        &:active {
          color: $defaultbtn;
        }
      }
    }
    &__link {
      color: $defaultbtn;
      &-title {
        color: #fff;
      }
      &:hover {
        color: $defaultbtn;
      }
    }
  }
  &-list {
    &__item {
      &-wrapper {
        color: #fff;
        background: #5e5e5e;
        box-shadow: none;
      }
    }
  }
  &__show {
    &-menu {
      background: rgba(0, 0, 0, 0.6);
    }
    &-btns {
      button {
        border: 1px solid #fff;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        &:hover, &:active {
          color: #000;
          border-color: #000;
          background: #fff;
        }
      }
    }
  }
}