@import "@/configs/vars.scss";

.folder {
  &__wrapper {
    background: rgb(241, 241, 241);
  }
  &-page {
    &__header {
      &-delete {
        color: $defaultbtn;
        &:active {
          color: $defaultbtnactive;
        }
      }
    }
    &__link {
      color: $defaultbtn;
      &:hover {
        color: $defaultbtnactive;
      }
    }
  }
  &-list {
    &__item {
      &-wrapper {
        background: #ffffff;
        box-shadow:  25px 25px 50px #cccccc, -25px -25px 50px #ffffff;
      }
    }
  }
  &__show {
    &-menu {
      background: rgba(0, 0, 0, 0.3);
    }
    &-btns {
      button {
        border: 1px solid #000;
        color: #000;
        background: #fff;
        &:hover, &:active {
          color: #fff;
          border-color: #fff;
          background: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}