@import "@/configs/vars.scss";

.folder {
  &__wrapper {
    background: rgb(241, 241, 241);
  }
  &-page {
    &__header {
      &-delete {
        color: $defaultbtn;
        &:active {
          color: $defaultbtnactive;
        }
      }
    }
    &__link {
      color: $defaultbtn;
      &:hover {
        color: $defaultbtnactive;
      }
    }
  }
  &-list {
    &__item {
      &-wrapper {
        background: #ffffff;
        box-shadow:  25px 25px 50px #cccccc, -25px -25px 50px #ffffff;
      }
    }
  }
}