.folders {
  margin-top: 50px;
  h1 {
    text-align: center;
  }
  &__content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    justify-content: center;
    margin-right: 50px;
  }
  &__item {
    text-align: center;
    padding: 30px 15px;
    min-height: 200px;
    border-radius: 3px;
    background: #e0e0e0;
    box-shadow:  23px 23px 0px #bebebe, -23px -23px 0px #ffffff;
    cursor: pointer;
    &-wrapper {
      min-width: 300px;
      max-width: 23%;
      margin: 30px 50px;
    }
    h2, p {
      color: rgb(20, 20, 20);
    }
    &:active {
      border-radius: 3px;
      background: #cacaca;
      box-shadow:  23px 23px 0px #707070, -23px -23px 0px #ffffff;
    }
  }
  &__list {
    &-nowords {
      margin-top: 30px;
    }
  }
  &__create {
    margin: 50px auto;
    padding-right: 20px;
    max-width: 800px;
  }
  &__title {
    margin: 30px 0;
  }
}