@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
      url('../../../../assets/Gilroy-Thin.woff2') format('woff2'),
      url('../../../../assets/Gilroy-Thin.woff') format('woff'),
      url('../../../../assets/Gilroy-Thin.ttf') format('truetype');
  font-style: normal;
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../../../../assets/gilroy-semibold.eot');
	src: url('../../../../assets/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
		url('../../../../assets/gilroy-semibold.woff2') format('woff2'),
		url('../../../../assets/gilroy-semibold.woff') format('woff'),
		url('../../../../assets/gilroy-semibold.ttf') format('truetype'),
		url('../../../../assets/gilroy-semibold.svg#gilroy-semibold') format('svg');
}

@import "../Auth.scss";
@import "../Cards.scss";
@import "../Slider.scss";
@import "../Footer.scss";

.home {
  &__wrapper {
    min-height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 40px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &-header {
    &__item {
      font-family: "Gilroy-SemiBold";
      margin: 0 20px;
      cursor: pointer;
      p {
        font-size: 16px;
        transition: color .2s ease-in-out;
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      h3 {
        margin-left: 10px;
        font-size: 24px;
        span {
          color: #F25822;
        }
      }
    }
    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 0 20px;
    }
  }
  &-btn {
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }
  &__main {
    position: relative;
  }
  &-main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 0 50px;
    &__left {
      h1 {
        font-family: "Gilroy-SemiBold";
        font-size: 54px;
        span {
          border-radius: 50%;
        }
      }
      p {
        font-family: "Gilroy";
        margin: 20px 0;
      }
    }
    &__down {
      display: flex;
      p {
        margin-left: 20px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        &::before {
          content: url("../../../../assets/Polygon.png");
          border-radius: 50%;
          box-sizing: border-box;
          padding: 5px 10px;
          margin-right: 10px;
        }
      }
      button {
        padding: 0 50px !important;
        font-size: 18px;
      }
    }
    &__right {
      img {
        max-width: 600px;
        margin: 0 20px;
        object-fit: cover;
      }
    }
    &__particles {
      position: relative;
      left: 0;
      top: 0;
      img {
        position: absolute;
        &:nth-child(1) {
          left: -30px;
          bottom: 100px;
        }
        &:nth-child(2) {
          left: 550px;
          bottom: 120px;
        }
        &:last-child {
          left: 500px;
          top: 20px;
        }
      }
    }
  }
  &__pictures {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    img {
      margin: 0 20px;
      max-width: 100%;
    }
  }
}

@import "./HomeMedia.scss";

body[data-theme="dark"] {
  @import "./HomeDark.scss";
}

body[data-theme="light"] {
  @import "./HomeLight.scss";
}