.translation {
  background: #858585;
  &:hover input ~ .translation__checkmark {
    background-color: #ccc;
  }

  input:checked ~ .translation__checkmark {
    background-color: #a33b3b;
  }
  .translation__checkmark:after {
    background: white;
  }

}