.finish {
  width: 800px;
  font-family: "Helvetica";
  margin: 100px 20px;
  &__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  &__header {
    text-align: center;
    h1 {
      margin-bottom: 30px;
      font-size: 42px;
      @media (max-width: 471px) {
        font-size: 32px;
      }
    }
    p {
      font-size: 24px;
      @media (max-width: 471px) {
        font-size: 24px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  &__error {
    margin-top: 30px;
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      img {
        margin-left: 20px;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
      }
    }
    &-list {
      margin: 30px 0;
    }
  }
  &__footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
}

body[data-theme="dark"] {
  @import "./EnglishVDark.scss";
}

@media (prefers-color-scheme: dark) {
  @import "./EnglishVDark.scss";
}

body[data-theme="light"] {
  @import "./EnglishVLight.scss";
}

@media (prefers-color-scheme: light) {
  @import "./EnglishVLight.scss";
}